body {
    background-color: #060621;
    font-family: Consolas;
    color: white;
}

h1 {
    color: white;
    font-size: 4vw;
    font-style: italic;
    text-align: center;
}

h2 {
    color: cyan;
    font-size: 3vw;
    font-style: italic;
    text-align: left;
}

p {
    text-align: left;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#main-body {
    display: inline-block;
    margin-left: 1.5vw;
    padding-right: 1.5vw;
    width: 50vw;
    border: 5px solid #060621;
    border-right-color: cyan;
}

#form-body {
    margin-left: 1.5vw;
    margin-top: 1.0vh;
}

#awards-list {
    display: inline-block;
    position: absolute;
    margin-left: 1.5vw;
}

.button {
    width: 30vw;
}

.image {
    width: 40vw;
}

.input-field {
    width: 15vw;
}